In [1]:
import pandas as pd

In [15]:
movies = pd.read_csv("/data/movielens/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [16]:
ratings = pd.read_csv("/data/movielens/ratings.csv")
ratings.sample(10)

       userId  movieId  rating   timestamp
55281     397    71520     3.0  1268904772
45415     322     1721     3.0   974697728
46976     345     1580     3.0  1106949290
27599     200    45720     3.0  1438019838
58057     423      111     5.0  1353690587
46869     344     1320     3.0   850725369
51041     378    80463     3.0  1443293670
63152     457     1836     3.0  1471384112
73234     510      483     5.0   946892212
94480     624     8376     3.0  1227300647

In [18]:
movies.shape, ratings.shape

((9125, 3), (100004, 4))

In [19]:
100004/9125

10.959342465753425

In [21]:
movies[movies.title.str.contains("Godfather")]

      movieId                            title                        genres
695       858            Godfather, The (1972)                   Crime|Drama
977      1221   Godfather: Part II, The (1974)                   Crime|Drama
1585     2023  Godfather: Part III, The (1990)  Crime|Drama|Mystery|Thriller
5470     8607          Tokyo Godfathers (2003)     Adventure|Animation|Drama

In [22]:
movies[movies.title == "Godfather, The (1972)"]

     movieId                  title       genres
695      858  Godfather, The (1972)  Crime|Drama

In [26]:
ratings[ratings.movieId == 858].shape

(200, 4)

In [28]:
movieId = 858

In [29]:
ratings.query("movieId == @movieId").shape

(200, 4)

In [36]:
ratings[ratings.movieId.isin(movies.movieId[movies.title.str.contains(r"Godfather, The \(1972\)")])].shape

(200, 4)

In [32]:
a = ratings.movieId

In [41]:
avg = ratings.groupby("movieId").rating.agg(["mean", "count"])
avg.loc[[858], :]

           mean  count
movieId
858      4.4875    200

In [42]:
avg.iloc[[858], :]

            mean  count
movieId
1060     4.22619     42

In [53]:
avg = ratings.groupby("movieId").rating.agg(["mean", "count"])
avg = avg[avg["count"] > 100]
avg = avg.sort_values("mean", ascending = False).iloc[:10,:]
avg

             mean  count
movieId
858      4.487500    200
318      4.487138    311
1221     4.385185    135
50       4.370647    201
527      4.303279    244
1193     4.256944    144
608      4.256696    224
296      4.256173    324
2858     4.236364    220
58559    4.235537    121

In [55]:
avg.merge(movies, left_index=True, right_on="movieId")[["mean","count", "title"]]

          mean  count                                   title
695   4.487500    200                   Godfather, The (1972)
284   4.487138    311        Shawshank Redemption, The (1994)
977   4.385185    135          Godfather: Part II, The (1974)
48    4.370647    201              Usual Suspects, The (1995)
472   4.303279    244                 Schindler's List (1993)
951   4.256944    144  One Flew Over the Cuckoo's Nest (1975)
535   4.256696    224                            Fargo (1996)
266   4.256173    324                     Pulp Fiction (1994)
2288  4.236364    220                  American Beauty (1999)
6916  4.235537    121                 Dark Knight, The (2008)