In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/data/insurance.csv")
df.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [29]:
cat_features

[('gender', dtype('O')), ('smoker', dtype('O')), ('region', dtype('O'))]

In [23]:
from sklearn import *

In [42]:
target = "charges"

X = df.drop(columns=target)
y = df[target]

X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y
                                                , test_size = 0.3, random_state = 1)

num_features =[k for k in dict(X.dtypes) 
                       if df.dtypes[k] in ["int64", "float64"]]


cat_features =[k for k in dict(X.dtypes) 
                       if X.dtypes[k] not in ["int64", "float64"]]


num_pipeline = pipeline.Pipeline([
        ('imputer', impute.SimpleImputer(strategy="median")),
        ('scaler', preprocessing.StandardScaler()),
    ])

feature_transformer = compose.ColumnTransformer([
        ("num", num_pipeline, num_features),
        ("cat", preprocessing.OneHotEncoder(), cat_features),
    ])


pipe = pipeline.Pipeline([
    ("feature_transformer", feature_transformer),
    ("est", linear_model.LinearRegression())
])

pipe.fit(X_train, y_train)
pipe.score(X_test, y_test)
model_selection.cross_val_score(pipe, X, y, cv=10)

array([0.78599896, 0.73249853, 0.73491249, 0.66880787, 0.77174242,
       0.78401994, 0.79314562, 0.66869189, 0.74242455, 0.76276472])