In [1]:
import pandas as pd
import numpy as np
from sklearn import * 
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
df = pd.read_csv("/data/credit-default.csv")
df.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_length,installment_rate,personal_status,other_debtors,...,property,age,installment_plan,housing,existing_credits,default,dependents,telephone,foreign_worker,job
0,< 0 DM,6,critical,radio/tv,1169,unknown,> 7 yrs,4,single male,none,...,real estate,67,none,own,2,1,1,yes,yes,skilled employee
1,1 - 200 DM,48,repaid,radio/tv,5951,< 100 DM,1 - 4 yrs,2,female,none,...,real estate,22,none,own,1,2,1,none,yes,skilled employee
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 yrs,2,single male,none,...,real estate,49,none,own,1,1,2,none,yes,unskilled resident
3,< 0 DM,42,repaid,furniture,7882,< 100 DM,4 - 7 yrs,2,single male,guarantor,...,building society savings,45,none,for free,1,1,2,none,yes,skilled employee
4,< 0 DM,24,delayed,car (new),4870,< 100 DM,1 - 4 yrs,3,single male,none,...,unknown/none,53,none,for free,2,2,2,none,yes,skilled employee

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
checking_balance        1000 non-null object
months_loan_duration    1000 non-null int64
credit_history          1000 non-null object
purpose                 1000 non-null object
amount                  1000 non-null int64
savings_balance         1000 non-null object
employment_length       1000 non-null object
installment_rate        1000 non-null int64
personal_status         1000 non-null object
other_debtors           1000 non-null object
residence_history       1000 non-null int64
property                1000 non-null object
age                     1000 non-null int64
installment_plan        1000 non-null object
housing                 1000 non-null object
existing_credits        1000 non-null int64
default                 1000 non-null int64
dependents              1000 non-null int64
telephone               1000 non-null object
foreign_worker          1000 non-null object
job                     1000 non-null object
dtypes: int64(8), object(13)
memory usage: 164.1+ KB

In [6]:
df.default.value_counts()

1    700
2    300
Name: default, dtype: int64

In [8]:
target = "default"
label_encoder = preprocessing.LabelEncoder()
y = label_encoder.fit_transform(df[target])
X = df.drop(columns=[target])

X = pd.get_dummies(X, drop_first=True)

X_train, X_test, y_train, y_test = model_selection.train_test_split(X.values.astype("float")
                                    , y , test_size = 0.3, random_state = 1234)


pipe = pipeline.Pipeline([
    ("poly", preprocessing.PolynomialFeatures(degree=1, include_bias=False)),
    ("scaler", preprocessing.StandardScaler()),
    ("est",linear_model.LogisticRegression(solver = "liblinear"))
])
pipe.fit(X_train, y_train)

y_train_pred = pipe.predict(X_train)
y_test_pred = pipe.predict(X_test)

In [9]:
pd.DataFrame({"actual": y_test, "prediction": y_test_pred})

     actual  prediction
0         0           0
1         0           0
2         1           0
3         0           0
4         0           1
5         0           0
6         0           0
7         1           0
8         0           0
9         0           0
10        0           0
11        0           0
12        0           0
13        1           1
14        0           0
15        1           0
16        1           1
17        1           0
18        1           0
19        0           0
20        1           0
21        0           0
22        0           1
23        1           1
24        1           1
25        1           0
26        0           1
27        0           0
28        1           0
29        1           1
..      ...         ...
270       0           0
271       1           0
272       0           0
273       0           0
274       0           0
275       0           0
276       1           1
277       0           0
278       0           1
279       1           0
280       0           0
281       0           0
282       0           0
283       1           1
284       1           1
285       1           0
286       1           0
287       1           0
288       0           1
289       1           0
290       0           0
291       0           0
292       0           0
293       1           1
294       0           0
295       0           0
296       0           0
297       0           0
298       0           0
299       0           0

[300 rows x 2 columns]

In [10]:
metrics.confusion_matrix(y_test, y_test_pred)

array([[182,  24],
       [ 51,  43]])

In [11]:
(182+43)/len(y_test)

0.75

In [15]:
print("training accuracy:", metrics.accuracy_score(y_train, y_train_pred))
print("test accuracy:", metrics.accuracy_score(y_test, y_test_pred))

print("training precison:", metrics.precision_score(y_train, y_train_pred))
print("test precision:", metrics.precision_score(y_test, y_test_pred))

print("training recall:", metrics.recall_score(y_train, y_train_pred))
print("test recall:", metrics.recall_score(y_test, y_test_pred))

training accuracy: 0.7842857142857143
test accuracy: 0.75
training precison: 0.6751592356687898
test precision: 0.6417910447761194
training recall: 0.5145631067961165
test recall: 0.4574468085106383

In [16]:
43/(43+24)

0.6417910447761194

In [17]:
43/(43+51)

0.4574468085106383