In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/data/insurance.csv")
df.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df.shape

(1338, 7)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
gender      1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

In [10]:
pd.get_dummies(df, drop_first=True).head()

,age,bmi,children,charges,gender_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0

In [14]:
from sklearn import model_selection
import numpy as np

In [13]:
target = "charges"
X = df.drop(columns=[target])
X = pd.get_dummies(X, drop_first=True)
y = df[target]

X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y,
                           test_size = 0.3, random_state = 1)

In [69]:
X_train.shape, X_test.shape

((936, 8), (402, 8))

In [70]:
936/len(X)

0.6995515695067265

In [68]:
np.random.seed(1)
np.random.randn(5)

array([ 1.62434536, -0.61175641, -0.52817175, -1.07296862,  0.86540763])

In [73]:
from sklearn import preprocessing

In [75]:
scaler = preprocessing.StandardScaler()
X_train_std = scaler.fit_transform(X_train.astype("float"))

In [76]:
X_train_std

array([[ 0.79715222, -0.70211414, -0.90400228, ...,  1.78810218,
        -0.60038747, -0.58722022],
       [-1.27108519, -0.70375759, -0.08567913, ..., -0.55925216,
        -0.60038747,  1.70293864],
       [-0.98581107, -0.73333977, -0.90400228, ..., -0.55925216,
        -0.60038747, -0.58722022],
       ...,
       [ 0.86847075,  0.70303946,  0.73264401, ..., -0.55925216,
        -0.60038747, -0.58722022],
       [ 0.0839669 , -1.39072157,  0.73264401, ..., -0.55925216,
         1.66559105, -0.58722022],
       [ 1.29638193, -0.4506656 , -0.08567913, ..., -0.55925216,
         1.66559105, -0.58722022]])

In [78]:
pd.DataFrame(X_train_std).sample(10)

,0,1,2,3,4,5,6,7
241,-0.771855,-1.101474,1.550967,0.976766,1.962076,-0.559252,1.665591,-0.587220
845,1.581656,1.265101,-0.904002,0.976766,-0.509664,1.788102,-0.600387,-0.587220
415,-0.058670,-0.440805,1.550967,-1.023787,-0.509664,-0.559252,-0.600387,1.702939
385,-0.985811,-0.936306,0.732644,0.976766,-0.509664,-0.559252,-0.600387,-0.587220
563,-1.342404,0.000463,-0.904002,0.976766,1.962076,-0.559252,-0.600387,-0.587220
447,-0.557900,0.923262,0.732644,0.976766,1.962076,-0.559252,-0.600387,1.702939
868,-1.271085,-1.716947,1.550967,0.976766,-0.509664,-0.559252,-0.600387,-0.587220
795,-1.199767,0.640588,0.732644,-1.023787,-0.509664,-0.559252,-0.600387,-0.587220
35,-0.771855,1.212510,-0.904002,0.976766,-0.509664,-0.559252,1.665591,-0.587220
78,1.724293,1.153346,-0.904002,-1.023787,1.962076,-0.559252,-0.600387,1.702939

In [79]:
pd.DataFrame(X_train_std).describe()

,0,1,2,3,4,5,6,7
count,9.360000e+02,9.360000e+02,9.360000e+02,9.360000e+02,9.360000e+02,9.360000e+02,9.360000e+02,9.360000e+02
mean,-1.791065e-16,-4.635418e-16,-2.910332e-16,1.767342e-17,8.979047e-17,-1.088873e-16,4.886879e-17,-2.372271e-17
std,1.000535e+00,1.000535e+00,1.000535e+00,1.000535e+00,1.000535e+00,1.000535e+00,1.000535e+00,1.000535e+00
min,-1.485041e+00,-2.419524e+00,-9.040023e-01,-1.023787e+00,-5.096643e-01,-5.592522e-01,-6.003875e-01,-5.872202e-01
25%,-9.144925e-01,-7.247116e-01,-9.040023e-01,-1.023787e+00,-5.096643e-01,-5.592522e-01,-6.003875e-01,-5.872202e-01
50%,-5.867016e-02,-3.076297e-02,-8.567913e-02,9.767656e-01,-5.096643e-01,-5.592522e-01,-6.003875e-01,-5.872202e-01
75%,8.684707e-01,6.631857e-01,7.326440e-01,9.767656e-01,-5.096643e-01,-5.592522e-01,1.665591e+00,1.702939e+00
max,1.795612e+00,3.689196e+00,3.187613e+00,9.767656e-01,1.962076e+00,1.788102e+00,1.665591e+00,1.702939e+00

In [81]:
X_test_std = scaler.transform(X_test.astype("float"))

In [71]:
from sklearn import linear_model

In [82]:
est = linear_model.LinearRegression()
est.fit(X_train_std, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [83]:
y_train_pred = est.predict(X_train_std)
y_test_pred = est.predict(X_test_std)

In [84]:
train_error = (y_train - y_train_pred)

In [88]:
sse = np.sum(train_error ** 2)
sse

34142276155.204025

In [89]:
sst = np.sum((y_train - y_train.mean()) ** 2)
sst

139103996336.147

In [90]:
sse/sst

0.2454442507366839

In [92]:
r2 = 1 - sse/sst # Measure of goodness of the model, best value of R2 is 1
r2

0.7545557492633161

In [ ]:
# R2 is negative, the model is not useful.

In [93]:
from sklearn import metrics

In [94]:
metrics.r2_score(y_train, y_train_pred)

0.7545557492633161

In [95]:
metrics.r2_score(y_test, y_test_pred)

0.7405989316927211

In [ ]:
metrics.r2_score()

In [97]:
from sklearn import pipeline

In [104]:
target = "charges"
X = df.drop(columns=[target])
X = pd.get_dummies(X, drop_first=True).values.astype("float")
y = df[target]

X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y,
                           test_size = 0.3, random_state = 1)

pipe = pipeline.Pipeline([
	("scaler", preprocessing.StandardScaler()),
	("est", linear_model.LinearRegression())
])


pipe.fit(X_train, y_train)

y_train_pred = pipe.predict(X_train)
y_test_pred = pipe.predict(X_test)

print("training r2", metrics.r2_score(y_train, y_train_pred))
print("test r2", metrics.r2_score(y_test, y_test_pred))

print("training rmse:", np.sqrt(metrics.mean_squared_error(y_train, y_train_pred)))
print("test rmse:", np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))

training r2 0.7545557492633161
test r2 0.7405989316927208
training rmse: 6039.6018713245385
test rmse: 6063.122656850453

In [101]:
mse = np.mean((y_train - y_train_pred) ** 2)

In [102]:
rmse = np.sqrt(mse)

# Exercise: Power demand forecasting 
https://github.com/abulbasar/data/blob/master/Combined_Cycle_Power_Plant.csv?raw=true